.box {
  width: 38rem;
  padding: 2rem;
  margin: auto;
  background-color: var(--color-white);
  position: relative;
}

.box__avatar {
  margin: auto;
  color: inherit !important;
  background-color: var(--color-green-1) !important;
}

/* box main styling */
.box__main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.box__heading {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  font-weight: 700;
}

.auth__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box label,
.box input {
  font-size: 1.7rem;
}

.MuiGrid-item {
  padding: 1rem 0.5rem !important;
}

.form__btn {
  margin: 2rem auto;
}

/* ----------------------------------------------------------------------------- */
.status-msg {
  display: block;
  margin: auto;
  text-align: center;
}

.status--error {
  background-color: rgba(255, 0, 0, 0.692);
  padding: 0.5rem;
}

.status--ok {
  padding: 0.5rem;
  background-color: rgba(0, 128, 0, 0.692);
}

@media only screen and (max-width: 37.5em) {
  .box {
    width: 35rem;
  }
}
