*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-grey: #f3f3f3;
  --color-white: #fff;
  --color-green-1: #9be15d;
  --color-green-2: #39b385;

  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

  --color-black-1: rgb(32, 33, 33);
  --color-black-2: rgba(32, 33, 33, 0.902);
}

#root {
  background-color: var(--color-grey);
  min-height: 100vh;
  padding: 1rem;
}

/* Components */

.heading-1 {
  font-size: 4rem;
}

.btn {
  padding: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  font-size: 1.9rem;
  background-color: var(--color-green-1);

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--color-green-2);
}
