.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__header h4 {
  font-weight: 500;
  font-size: 2.2rem;
}

.dashboard__header span {
  font-size: 3rem;
}

.dashboard__main {
  display: flex;
  justify-content: space-around;
}

.dashboard__forms {
  width: 50%;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}
