.transactions {
  height: 50rem;
  width: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;

  display: flex;
  flex-direction: column-reverse;
}

.transaction {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}

.trx__row--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trx__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.trx__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.trx__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.trx__amount {
  font-size: 2rem;
  color: #444;
}

.trx__fee {
  font-size: 1.2rem;
  color: #444;
  margin-left: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .transactions {
    height: 50rem;
    width: 85%;
  }
}
