.form--trx {
  background-color: #fff; /* #change later; */
  width: 27rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2rem;

  padding: 1rem 2rem;
  height: 29rem;
}

.form__heading {
  text-align: center;
  font-size: 2.4rem;
}

.form--trx input,
.form--trx label {
  font-size: 2rem;
}

.form--trx button {
  width: fit-content;
  margin: 0 auto;
}
